body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 30px;
}

#click{
    width: 300px;
    height: 150px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}